{% extends "layout.html" %}

{% block css_files %}
<link href="{{ url_for('static', filename='refundTic.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar_left %}
<ul class="nav navbar-nav">
  <li><a href="{{ url_for('home') }}">首页</a></li>
  <li><a href="{{url_for('queryRes')}}">余票查询</a></li>
  <li><a href="https://github.com/KSXGroup/stupidTrainTicketingWebsite">源码</a></li>
  {% if user_name %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的车票<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{{url_for('queryRes')}}">车票查询预订</a></li>
      <li><a href="{{url_for('userZone')}}?status=openQueryOrder">订单操作</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header"></li>
      <li><a href="{{url_for('userZone')}}">个人空间</a></li>
    </ul>
  </li>
  {% endif %}
</ul>
{% endblock %}

{% block navbar_right %}
{% if not user_name %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="{{ url_for('signin') }}">登录</a></li>
  <li><a href="{{ url_for('signup') }}">注册</a></li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user_name }}<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="{{ url_for('userZone')}}">个人空间</a></li>
    <li><a href="{{ url_for('userZone')}}?status=userInfo">用户信息</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="{{url_for('userZone')}}?status=editUserInfo">修改信息</a></li>
      <li><a href="{{ url_for('signout')}}">注销</a></li>
    </ul>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block body %}
{% if err_info %}
<div class = "container-fluid text-center" style="background-color:rgba(0,0,0,0.2);width:80%;">
    <div class="row">
        <i class="glyphicon glyphicon-remove-circle col-md-4" style="margin-top:3%;font-size:600%;color:white;margin-left:10%"></i>
        <h1 style="color:white; margin-top:6%;font-size:350%; margin-left:-10%;" class="col-md-5">{{err_info}}</h1>
    </div>
</div>
{% else %}
{% if train_id and tic_type and tic_date and tic_loc1 and tic_loc2 and tic_num and tic_price %}
<div class= "container-fluid" name="refund-container">
   <h1 class = "row text-center" style = "color:white; font-szie:200%; margin-left:1%;font-weight:normal!important"> 退票详情 </h1>
   <label class = "row" style="color:white; margin-left:1%;">列车编号:{{train_id}}</label>
   <div class = "row"  style="margin-left:1%;color:white">
        <label>日期:{{tic_date}}</label>
   </div>
   <div class = "row"  style="margin-left:1%;color:white">
        <label>出发:{{tic_loc1}}</label>
   </div>
   <div class="row" style="margin-left:1%;color:white">
        <label>到达:{{tic_loc2}}</label>
   </div>
   <div class="row" style="color:white;margin-left:1%">
        <label style="">类型:{{tic_type}}</label>
   </div>
   <div class="row" style="color:white;margin-left:-2.4%">
        <label class="col-md-3">数量:</label>
        <input value = "{{tic_num}}" class="form-control col-md-1 mytext" style="margin-left:-10%;" name = "refundAmount"></input>
        <label name = "warning" style = "color:red"></label>
   </div>
   <div class="row" style="margin-left:1%;color:white"><label>总价:{{tic_price}}元</label></div>
   <div class="row">
        <li class = "glyphicon glyphicon-info-sign col-md-1" style="color:white;margin-top:2%;margin-bottom:2%;"></li>
        <h5 class="small" style="color:white;margin-left:0.5%">您支付的款项将永远不会被退还</h5>
   </div>
   <button class="btn btn-block btn-pay" style="margin-bottom:5%;" onclick="confirmRefundTicket()">退票</button>
   <button class="btn btn-block btn-pay" style="margin-bottom:5%;margin-top:1%;" onclick="toUserZoneWithOrder()">返回</button>
</div>
{% else %}
<div class = "container-fluid text-center" style="background-color:rgba(0,0,0,0.2);">
    <div class="row">
        <i class="glyphicon glyphicon-remove-circle col-md-4" style="margin-top:3%;font-size:600%;color:white;margin-left:10%"></i>
        <h1 style="color:white; margin-top:6%;font-size:350%; margin-left:-10%;" class="col-md-5">错误的参数</h1>
    </div>
</div>
{% endif %}

{% endif %}

<div class="hidden" name="successTemplate">
    <div class="row">
        <i class="glyphicon glyphicon-ok-circle col-md-4" style="margin-top:3%;font-size:400%;color:white;margin-left:10%"></i>
        <h1 name = "successMsg" style="color:white; margin-top:7%;font-size:200%; margin-left:-5%;" class="col-md-5">退票成功</h1>
    </div>
    <div class="row" style="margin-top:5%;margin-bottom:5%;">
        <button class="btn btn-block btn-pay center-block" style="width:80%" onclick="toUserZoneWithOrder()">返回</button>
    </div>
<div>

<div class="hidden" name="failTemplate">
    <div class="row">
        <i class="glyphicon glyphicon-remove-circle col-md-4" style="margin-top:3%;font-size:400%;color:white;margin-left:10%"></i>
        <h1 name = "failMsg" style="color:white; margin-top:7%;font-size:200%; margin-left:-5%;" class="col-md-5">退票失败，请重试</h1>
    </div>
    <div class="row" style="margin-top:2%;">
        <button class="btn btn-block btn-pay center-block" style="width:80%" onclick="toUserZoneWithOrder()">返回</button>
    </div>
<div>

<form class="hidden" name = "confirmRefundForm">
    <input name = "form-name" value = "confirmRefundForm">
    <input name = "refund-train-id" value = "{{train_id}}">
    <input name = "refund-type" value = "{{tic_type}}">
    <input name = "refund-date" value = "{{tic_date}}">
    <input name = "refund-loc1" value = "{{tic_loc1}}">
    <input name = "refund-loc2" value = "{{tic_loc2}}">
    <input name = "refund-num" value = "{{tic_num}}">
</form>

<script type="text/javascript">

function toUserZoneWithOrder(){
    window.location="{{url_for('userZone')}}?status=openQueryOrder";
}

function confirmRefundTicket(){
    var reg=/^[0-9]+.?[0-9]*$/;
    var num = document.getElementsByName("refundAmount")[0].value;
    if(!reg.test(num)){
        document.getElementsByName("warning")[0].innerHTML="请输入数字";
        return;
    }
    if(parseInt(num) > parseInt("{{tic_num}}")){
        document.getElementsByName("warning")[0].innerHTML="本订单中余票不足";
        return;
    }
    document.getElementsByName("refund-num")[0].setAttribute('value',document.getElementsByName("refundAmount")[0].value);
    var form = new FormData(document.getElementsByName("confirmRefundForm")[0]);
    $.ajax({
            url:'{{url_for("refundTic")}}',
            type:'POST',
            data:form,
            dataType: 'json',
            processData: false,
            contentType: false,
            cache : false,
            success:function(data){
                ret = parseInt(data[0]);
                if(ret) orderSuccess();
                else orderFail();
            },
            error:function(e){
            }
    });
}

function orderSuccess(){
       var containerHandle = document.getElementsByName("refund-container")[0];
       $(containerHandle).empty();
       $(containerHandle).append (document.getElementsByName("successTemplate")[0].innerHTML);
       $('.dropdown-toggle').dropdown();
       return;
}
function orderFail(){
       var containerHandle = document.getElementsByName("refund-container")[0];
       $(containerHandle).empty();
       $(containerHandle).append(document.getElementsByName("failTemplate")[0].innerHTML);
       $('.dropdown-toggle').dropdown();
       return;
}

function trainIdToName(trainId){
    var pattern = /[CDGKTZ][0-9A-Z]*/;
    var st = trainId.search(pattern);
    var trainNameTmp = "";
    for(var i = st; i < trainId.length - 2; ++i) trainNameTmp += trainId[i];
    return trainNameTmp;
}


</script>

{% endblock %}








