body{
    background-color:#11F4ED;
    background: url("../static/tmpbg.jpg") no-repeat center center fixed;
    background-size: auto auto;
}

.form-control:focus{
    border-color:white !important;
    box-shadow: 0px 0px 10px white;
}

.jumbotron{
    background: rgba(255,255,255,0);
}

.container {
    background: rgba(255,255,255,0);
}

.form-container{
    background: rgba(0,0,0,0.1);
    border-radius: 0px !important;
}

.btn{
    border-radius: 0px !important;
}

.form-control{
    border-radius: 0px !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgba(0,0,0,0.2);
}

.dropdown-menu{
    border-radius:0px !important;
}

.dropdown-menu > li > a{
    color:white;
    font-size: 110%;
}

.bootstrap-datetimepicker-widget{
    background-color:rgba(0,0,0,0.3);
    color:white;
}

.bootstrap-datetimepicker-widget table td{
    border-radius:0px;
}

.bootstrap-datetimepicker-widget table td.year:hover,
.bootstrap-datetimepicker-widget table td.month:hover,
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background-color:rgba(0,0,0,0.3);
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
  border-radius:0px;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background:rgba(0,0,0,0.3);
}

