.container-fluid-back{
    background-color: rgba(0,0,0,0.1);
}

.container-fluid-front{
    background-color: rgba(0,0,0,0.2);
    margin-top:5%;
    margin-bottom:5%;
}


.btn-search{
    border-width: 2px;
    border-color: rgba(255,255,255,0);
    border-radius: 0px;
    background: rgba(255,255,255,0);
    font-size: 30px;
    margin-left:2%;
    margin-top:-0.8%;
}

.glyphicon-search{
    color:white;
    size: 5%;
}

.glyphicon-search:hover,
.glyphicon-search:focus{
    color: #d9d9d9;
    size: 5%;
}


.form-control{
    margin-left: 5%;
    width: 20%;
    border-color: rgba(255,255,255,1);
    border-width: 2px;
    border-radius: 0px;
    background: rgba(255,255,255,0);
}

.input-md{
    text-align:center;
    vertical-align: middle;
    font-size:20px;
    height: 50px;
    line-height: 70px;
    color: white !important;
}

.container-fluid-front label{
    font-size:150%;
    font-weight:normal;
    color:white;
}

.btn-oneclick-pay{
    color:white;
    border-width: 2px;
    border-color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,0);
    font-size:120%;
    font-weight:bold;
}

.btn-oneclick-pay:hover,
.btn-oneclick-pay:focus,
.btn-oneclick-pay:active{
    background-color: rgba(255,255,255,1);
    color:black;
}


